h1 {
    color: red;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}


.top {
    width: 100%;
}


.bottom {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.left-col {
    flex: 2;
}

.right-col {
    flex: 1;
}

.chart-container {
    width: 500px;
    height: 200px;
    margin-bottom: 20px;
}

#controlPanel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.panel-section {
    border: 1px outset #ccc;
    padding: 10px;
    width: 200px;
}

.panel-section button {
    display: block;
    border-radius: 4px;
    
    margin: 5px 0;
    width: 100%;
}